.panel {
    display: flex;
    margin: 10px;
}

.knob,
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard {
    position: absolute;
    border: 5px solid black;
    height: 200px;
    font-size: 0.7rem;
}

.keyboard--white-note {
    float: left;
    width: 45px;
    height: 100%;
    background: white;
    border-right: 1px solid black;
    position: relative;
}

.keyboard--white-note[data-pressed="true"] {
    background-color: #DDD;
}

.keyboard--white-note-label {
        color: #000;

}

.keyboard--white-note-label,
.keyboard--black-note-label {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    display: none;
}

.keyboard--black-note {
    position: absolute;
    height: 65%;
    width: 55%;
    left: 100%;
    transform: translateX(-50%);
    background: #000;
    z-index: 1;
}

.keyboard--black-note[data-pressed="true"] {
    background-color: #333;
}
